= content_for :green do
  .green.yhh
    .verification_sign
      = link_to image_tag(asset_path("verification_sign.png")),"/home/verification"
    %h1 Stephanie Higgins MD
    %h3 Patient Intake Form
    %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit pulvinar elementum. Phasellus at mi ac eros mollis porttitor eu id dolor. Nulla nec enim elit, a sodales leo. Mauris porttitor orci eu ligula tristique eu varius nisi rutrum. Ut quis quam ac magna mollis vestibulum. 
.yhhform.step3
  %h1 Step3. Disclosure Agreement
  %ol.disclosure
    %li
      %span
        Stephanie Higgins MD provides medical evaluations and consultations regarding recommendations for medical cannabis or marijuana only. 
    %li
      %span
        Services for which fees may be collected include: medical consultation and evaluations, copying or duplication of medical records.
    %li
      %span 
        Payment of fees does not entitle, ensure, or warrant that (1) Patient will receive a medical cannabis recommendation (2) Any recommendation given will be written for at least twelve months. 3) Any medical documentation given to and issued from this office will only be given to the patient during a visit-some documents may require a release fee of $5 or more. This is to ensure patient privacy and confidentiality.
    %li
      %span
        Indications for the medicinal use of cannabis include but are not limited to: cancer, aids, glaucoma, chronic nausea, headaches, arthritis, multiple sclerosis, seizures, anorexia, severe or chronic pain, anxiety, depression, menstrual cramps, chronic insomnia and IBS. 
    %li
      %span 
        All evaluations are done by a California licensed physician and includes (1) Taking medical history, (2) Review of patients prior medical records all prospective patients can bring their medical records (although not required) and should bring any prior or currently taken prescribed medications.
    %li
      %span
        Stephanie Higgins MD does not provide primary care, medication prescriptions, or other treatments. The physician may refer the patient to other providers and outside medical care for further evaluation and treatment. 
    %li
      %span
        Subsequent to Stephanie Higgins MD , all patients are instructed to follow-up with their own primary care physicians, mental health and other health care providers and outside medical care for continuing care. Likewise, where recommendations is given, physician may require appropriate follow up be made. 
    %li
      %span
        All patients using medical cannabis are advised against driving, operating heavy machinery or equipment under the influence of cannabis. 
    %li
      %span
        Side effects associated with medical marijuana use include: dry mouth; headache; nausea; tremor; nystagumus; rapid heart rate; reduced muscle strength; decreased blood flow to the brain; decreased coordination; decreased lung capacity/bronchoconstriction; increased appetite and possible weight gain; altered body temperature; anxiety or panic; paranoia; confusion; aggressiveness; hallucinations; suicidal ideation; sedation; altered libido; alternation in time, space, and color perception; depersonalization; short-term memory impairment; addictive behaviors; decreased verbal skills; amotivational syndrome; reduced testicular size; decreased testosterone levels; menstrual abnormalities; impotence; abnormal sperm morphology/motility; infertility; gynecomastia; abnormal olva; fetal exposure (in pregnant users) 
    %li
      %span
        Stephanie Higgins MD’s physicians may deny the recommendation in appropriate cases. 
    %li
      %span
        Recommendation issued by Stephanie Higgins MD is valid in the state of California only.
  %h2 Medical Marijuana Acknowledgement of Disclosure and Informed Consent 
  %p.centered.margbot
    Read each item below and initial; in the space provided to indicate that you understand and agree to each item. Do not sign this agreement and do not use medical marijuana if you have questions about or do not understand the information you have received.
  .textile
    :textile
      I understand that medical marijuana is a medicine is used in treating suffering caused by serious and debilitating medical conditions. Serious and debilitating conditions include:
      1. Acquired immune deficiency syndrome (AIDS) 
      2. Anorexia 
      3. Arthritis 
      4. Cachexia
      5. Cancer
      6. Chronic Pain
      7. Glaucoma
      8. Migraine
      9. Muscle Spasms
      10. Seizures
      11. Any other chronic or persistent medical symptom that either
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) Substantially limits the ability of the person to conduct on or more major life Activities as defined in the Americans with Disabilities Act of 1990 (Public Law 101-336)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b) If not alleviated, may cause serious harm to the patient’s safety or physical health.
  .green_note
    %p.checkbox
      I understand that medical marijuana use for treatment of these conditions has NOT been Approved by the Federal drug Association (FDA).
      LasIt hUerpedbyatcedrtifMy tohnat JI huanve0r4ea2d0a1n2d acknowledge all of the above. Please initial
      = label_tag :fda_check, ""
      = check_box_tag 'medications'
  .textile
    :textile
      I have been advised that the use of cannabis (medical marijuana) may affect my coordination and cognition in ways that could impair my ability to drive, operate heavy machinery, or engage in potentially hazardousactivities.
      Although smoking marijuana has not been linked to lung cancer, smoking marijuana can cause respiratory harm, such as bronchitis. Many researchers agree that marijuana smoke contains carcinogens (chemicals that can cause cancer) and that smoking marijuana may increase the risk of respiratory diseases and cancers of the lungs, mouth, and tongue. I have been advised that cannabis (medical marijuana) smoke contains chemicals known as tars that may be harmful to my health. Vaporizers may substantially reduce many of the potentially harmful smoke toxins that are normally present in marijuana smoke
      Marijuana varies in potency. The effects of marijuana can also vary with the delivery system. Estimating the proper marijuana dosage is very important. Symptoms of marijuana overdose include, but are not limited to: 
      Nausea 
      Vomiting
      Disturbances to heart and numbness of the limbs 
      Hacking cough
      For some patients chronic marijuana over use can lead to laryngitis, bronchitis, and general apathy.
      &nbsp;
      Using marijuana may decrease reproduction function in men as well as women. Women who are trying to conceive, or who are pregnant or breast-feeding should not use marijuana. Marijuana may increase risk of leukemia in children whose mothers smoked marijuana during pregnancy.
      &nbsp;
      I understand as a patient that it is possible to become dependent on marijuana. This means experiencing withdrawal symptoms when the use of cannabis (medical marijuana) has been stopped. Signs of withdrawal symptoms, while generally mild, can include:
      &nbsp;
      Feelings of depression, sadness or irritability 
      Unusual tiredness 
      Trouble concentrating 
      Loss of appetite Sleep 
      Disturbances
      &nbsp;
      Although marijuana does not produce a specific psychosis, the possibility exists that it may exacerbate schizophrenia in persons predisposed to said disorder.
      &nbsp;
      I understand that using marijuana while under the influence of alcohol is not recommended. I understand that the cannabis plant is not regulated by the United States Food and Drug Administration and therefore may contain unknown quantities of active ingredients, impurities and/or contaminants.
      &nbsp;
      I certify and declare under penalty of perjury that I have read and understand the information contained herein, and the information I have given is true, correct and complete.
  %h2.centered Medical Cannabis Patient Agreement 
  .textile
    :textile
      I agree to tell the attending physician if I have ever had symptoms of depression, been psychotic, attempted suicide, or have had any other mental problem. I also agree to tell the attending physician if I ever have been prescribed or taken medicine for any of these problems.
      &nbsp;
      I understand that the attending physician does not suggest or condone that I cease treatment of medications that stabilize my mental or physical condition.
      &nbsp;
      I affirm that I have a serious medical condition that adversely affects my quality of life. I have found or am interested in finding whether cannabis (medical marijuana) provides substantial relief and improvement in my condition.
      &nbsp;
      If I start taking medical marijuana, I agree to tell my attending physician if I experience adverse symptoms (side effects), including but not limited to
      1. Start to feel sad or have crying spells   2. Have changes in my normal patterns  3. Lose my appetite  4. Become more irritable than usual  5.Become unusually tired 6. Lost interest in my usual activities
      &nbsp;
      I understand that the cannabis plant is not regulated by the U.S. Food and Drug Administration and may contain unknown quantities of active ingredients, impurities, and or/contaminants. In requesting approval or recommendation for the use of this plant as medication I assume full responsibility for any and all risks of this action. Also, I am advised that the use of cannabis may affect my coordination and cognition in ways that could impair my ability to drive, operate heavy machinery, or engage in potentially hazardous events. I assume for any harm resulting to me and/or individuals as a result of my use of cannabis.
      &nbsp;
      Some users develop a tolerance to marijuana. This means higher doses are required to achieve the same pain relief. If I think I may be developing a tolerance to marijuana, I will notify my attending physician. Should respiratory problems or other ill effects be experienced in association with the use of medical marijuana. I agree to discontinue its use and report such problems and/or effects to my attending physician.
      &nbsp;
      I understand that the attending physician, staff, and representation of this practice are neither providing nor dispensing cannabis, nor are the encouraging any illegal activity obtaining medical marijuana.
      &nbsp;
      At this time, cannabis is an alternative or complementary treatment. I understand to receive recommendation for cannabis use, I should try, or be willing to consider trying, at least one other recommended treatment from a medical provider. I agree to be referred for further evaluation as the physician deems necessary
  %h2.centered Release of all Claims and Liability 
  .textile
    :textile
      I, the undersigned, hereby request a consultation by a physician for the sole purposes of determining the appropriateness of medical cannabis treatment.
      &nbsp;
      I, the undersigned, understand that there is no representatives of addressing specific aspects of my medical care and, unless otherwise stated are in no way establishing themselves as my primary care provider. The physician is only rendering an opinion regarding the therapeutic recommendation indicating use of medical marijuana.
      &nbsp;
      I, the undersigned, further understand that I should be given a recommendation for medical use of cannabis; I understand that I must be regularly followed-up by a doctor and appear for a re-evaluation at a date specified by the physician.
      &nbsp;
      Furthermore, the undersigned, my heirs, assigns, or any acting on my behalf, hold the physician and his/her principles, agents and employees, free of and harmless from responsibility and liability resulting from the use of cannabis. In case of any claim or dispute arises, I agree to arbitrate such claims/disputes and I agree that California law will govern such claims/disputes. Further, if any of these clauses is deemed invalid, the other clauses will remain in full force and effect.
  = label_tag :full_name, "Full name"
  = text_field_tag :full_name, nil,:placeholder => "First, Middle and last name"
  .dob
    = label_tag :current_date, "Current Date"
    .button_for_select
      = select_tag :cdm, options_for_select(["month","january"])
      %span.select_arrow
        %span month
    .button_for_select
      = select_tag :cdd, options_for_select(["day","01"])
      %span.select_arrow
        %span day
    .button_for_select
      %span.select_arrow
        %span year
      = select_tag :cdy, options_for_select(["year"]),:class => "year"
  %p.agree.checkbox
    = label_tag :fda_check, ""
    = check_box_tag 'medications'
    I have read and agree with the terms of the disclosure conditions
  .line.clear
  = link_to image_tag("submit_form_btn.png"),"/", :class => 'submit_form'
  .fill_in_step3




